# 데이터 다루기 (1): Pandas + Seaborn (Titanic)

## 진행 방법
1. 각 코드 셀의 `TODO` 부분을 채우세요.
2. 필요 시 마크다운 셀의 질문에 답을 적으세요.
3. 마지막에는 간단한 **셀프 체크** 코드가 제공됩니다.

---

## 0. 환경 준비
- 필요한 라이브러리를 임포트합니다.
- Seaborn의 `titanic` 데이터셋을 로드합니다. (만약 로드 실패 시, 대체용 축약 데이터프레임을 생성합니다.)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

# seaborn 내장 titanic 데이터셋 로드 (인터넷 연결/버전 이슈로 실패 시 사용 환경을 점검하세요)
titanic = sns.load_dataset("titanic")
titanic.head()

## 1. 데이터 개요 확인
### Q1-1. 상위 5행을 미리보기 하세요 (`head`)
### Q1-2. 전체 구조와 결측치 정보를 확인하세요 (`info`)
### Q1-3. 수치형 통계 요약을 확인하세요 (`describe`)

In [ ]:
# Q1-1 TODO: titanic 데이터의 상위 5행을 확인하세요.
# 예: titanic.____()
___

# Q1-2 TODO: 데이터 구조 및 결측치 개요를 확인하세요.
# 예: titanic.____()
___

# Q1-3 TODO: 수치형 컬럼의 기초 통계를 요약하세요.
# 예: titanic.____()
___

## 2. 컬럼 / 인덱스 / 선택
### Q2-1. 컬럼 이름을 확인하세요 (`columns`)
### Q2-2. `sex`, `age`, `fare` 컬럼만 선택해 상위 3행을 보세요
### Q2-3. `iloc`으로 0~4행, 0~2열을 선택하세요
### Q2-4. `loc`으로 인덱스 1~5 범위에서 `sex`, `age`만 선택하세요 (인덱스는 1부터 시작하도록 재설정)

In [ ]:
# Q2-1 TODO: 컬럼 이름 보기
___

# Q2-2 TODO: 특정 컬럼만 선택하여 상위 3행 보기
___

# 인덱스를 1부터 시작하도록 재설정
titanic.index = range(1, len(titanic) + 1)

# Q2-3 TODO: iloc으로 0~4행, 0~2열 선택
___

# Q2-4 TODO: loc으로 인덱스 1~5 범위에서 sex, age 선택
___

## 3. 필터링 & 정렬
### Q3-1. 나이가 60 이상인 승객만 필터링하세요
### Q3-2. 여성(`sex == 'female'`) 이고 1등석(`pclass == 1`)인 승객만 필터링하세요
### Q3-3. 요금(`fare`)이 높은 순으로 5명만 보이세요 (`sort_values`)

In [ ]:
# Q3-1 TODO
___

# Q3-2 TODO
___

# Q3-3 TODO
___

## 4. 결측치 처리
### Q4-1. `age` 결측치를 평균으로 채우세요 (`fillna`) - 원본 수정
### Q4-2. `embarked` 결측치를 최빈값으로 채우세요 (`mode()[0]`) - 원본 수정
### Q4-3. `age`가 결측인 행을 제거하세요 (`dropna(subset=[...])`) 대신, 여기서는 이미 Q4-1에서 채웠다면 예시로 `fare`의 결측이 있다면 제거해보세요

In [ ]:
# Q4-1 TODO: age 평균으로 채우기
___

# Q4-2 TODO: embarked 최빈값으로 채우기
___

# Q4-3 TODO: 특정 컬럼 결측치 행 제거
___

## 5. 파생변수 & 값 수정
### Q5-1. 나이가 18세 이상이면 `is_adult=True`, 아니면 False인 컬럼을 추가하세요
### Q5-2. `fare`가 0인 경우를 평균 요금으로 대체하세요 (`loc` 활용)
### Q5-3. 방금 만든 `is_adult` 컬럼을 삭제해보세요 (`drop`)

In [ ]:
# Q5-1 TODO: is_adult 파생변수 추가
___

# Q5-2 TODO: 요금이 0인 경우 평균 요금으로 대체
___

# Q5-3 TODO: is_adult 컬럼 삭제
___

## 6. 저장 & 불러오기 (옵션)
### Q6-1. 현재 DataFrame을 `titanic_clean.csv`로 저장하세요 (`to_csv`, `index=False`)
### Q6-2. 방금 저장한 파일을 다시 불러오세요 (`read_csv`)

In [ ]:
# Q8-1 TODO: 저장
___

# Q8-2 TODO: 재로딩
___